body {
  background: #eee;
}

.topnav {
  background: #fff;
  height: 55px; 
  border-bottom: 1px solid #ccc;
}

.logo {
  float: left;
  margin: 5px 30px;
}

.search {
  float: left;
  height: 30px;
  width: 350px;
  margin: 10px;
}

.subnav {
  clear: both;
  background: #fff;
  border-bottom: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.subnav a {
  color: #666;
  font-size: .8em;
  margin: 0 10px;
  padding: 7px 2px;
}

.subnav a:hover {
  border-bottom: 2px solid #e51c23;
}

.subnav .active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #e51c23;
}

.navbtn {
  float: right;
  margin: 10px 30px 10px 0px;
  background: #eee;
  border: 1px solid #999;
  color: #333;
  font-weight: bold;
}

.login {
  background: blue;
}

.main {
  background: #fff;
  clear:both;
  position: relative;
  margin: auto;
  width: 80%;
  top: 80px;
  padding: 20px;
}

.main-vid {
  height: 550px;
  margin-bottom: 50px;
}

.vid-thumb {
  width: 200px;
}

.vid-thumb-info {
  float: left;
  width: 180px;
  margin: 5px;
  font-size: .7em;
}

.vid-thumb-info a {
  font-weight: bold;
  font-size: 12px;
}

.dropdown {
  width: 150px;
}