body {
  background: #eee;
}

.topnav {
  background: #fff;
  height: 55px; 
  border-bottom: 1px solid #ccc;
}

.logo {
  float: left;
  margin: 5px 30px;
}

.search {
  float: left;
  height: 30px;
  width: 350px;
  margin: 10px;
}

.search-box {
  float: left;
  width: 280px;
}

.search-btn {
  float: left;
  width: 50px;
}

.subnav {
  clear: both;
  background: #fff;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  text-align: center;
  padding: 5px;
}

.subnav a {
  color: #666;
  font-size: .8em;
  margin: 0 10px;
  padding: 7px 2px;
}

.subnav a:hover {
  border-bottom: 2px solid #e51c23;
}

.subnav .active {
  color: #000;
  font-weight: bold;
  border-bottom: 2px solid #e51c23;
}

.navbtn {
  float: right;
  margin: 8px 25px 8px 0px;
  background: #eee;
  border: 1px solid #999;
  color: #333;
  font-weight: bold;
  width: 90px;
  color: #000;
}

.navbtn:hover {
  background: #ddd;
  color: #000;
}


.login {
  background: #167ac6;
  color: #fff;
  border-color: #126db3;
}

.login:hover {
  background: #126db3;
  color: #fff;
}

.notice_alert {
  background: #fff;
  margin: 20px 50px;
}

.main {
  clear:both;
  margin: auto;
  background: #fff;
  padding: 20px;
}

.notice {
  width: 100%;
  background: white;
  padding: 10px 20px;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  clear: both;
}

.viewvid {
  width: 700px;
  float: left;
  margin: 0 60px;
  font-size: 22px;
}

.viewvids a {
  font-size: 1em;
}

.othervids {
  float: left;
  background: #fff;
  width: 300px;
  margin: 0 20px;
  padding: 20px 50px;
  font-size: 14px;
}

.vid-thumb-info {
  float: left;
  width: 183px;
  height: 210px;
  margin: 5px;
  font-size: .75em;
}

.vid-thumb-info a {
  font-weight: bold;
}

.vid-thumb-info a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.dropdown {
  width: 150px;
}

.clearfix {
  clear: both;
}

.submit-btn {
  float: left;
  padding: 10px;
}

.signin {
  margin: 0 auto;
  width: 400px;
}

.reset {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
}

.min-pw {
  font-size: 14px;
  color: #999;
}

.view-count {
  float: right;
}