
<div class="main">

<%= link_to("New playlist", {action: "new"}, class: "button tiny login") %><br>

<% @playlists.each do |playlist| %>

  <%= link_to(playlist.listname, playlist_path(playlist)) %> by
  <em><%= link_to(playlist.user.name, user_path(playlist.user)) %></em><br>

  <% if playlist.videos.length > 0 %>
    <% playlist.videos.each do |video| %>
      <%= video.title %><br>
    <% end %>
  <% end %>

  <br>

<% end %>

</div>


